---
layout: default
title: Personal software blog
---
{% assign post = site.posts.first %}

{% include post/header.html param=post %}

{% if post.content contains '<!--more' %}
    {% assign split = post.content | split:'<!--more' %}

    {% assign excerpt = split | first %}

    {% assign more_text = split | last | split:'-->' | first %}

    {{ excerpt }}

    <p><a href="{{ post.url }}">{{ more_text }}</a></p>
{% else %}
    {{ post.content }}
{% endif %}

{% include post/footer.html param=post %}