---
layout: default
title: Personal software blog
---

{% for post in paginator.posts %}
    {% include category.html post=post %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="list-unstyled spacing row">
    <li class="col-xs-6">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Older Posts</a>
        {% endif %}
    </li>
    <li class="col-xs-6 text-right">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Newer Posts</a>
        {% endif %}
    </li>
</ul>
{% endif %}