{% assign page_category = include.post.categories | first %}
{% assign page_title = include.post.title %}

{% assign state = 0 %}
{% for current in site.posts %}
    {% assign current_category = current.categories | first %}
    {% if page_category == current_category %}
        {% if page_title == current.title %}
            {% assign state = 1 %}
        {% endif %}

        {% case state %}
            {% when 2 %}
                {% assign older_post = current %}

                {% assign state = 3 %}
            {% when 1 %}
                {% if previous_post %}
                    {% assign newer_post = previous_post %}
                {% endif %}

                {% assign state = 2 %}
            {% when 0 %}
                {% assign previous_post = current %}
        {% endcase %}
    {% endif %}
{% endfor %}

<ul class="list-unstyled spacing row">
    <li class="col-xs-6">
        {% if older_post %}
        <p class="text-uppercase"><small>Previous</small></p>
        <a href="{{ older_post.url }}">{{ older_post.title }}</a>
        {% endif %}
    </li>
    <li class="col-xs-6 text-right">
        {% if newer_post %}
        <p class="text-uppercase"><small>Next</small></p>
        <a href="{{ newer_post.url }}">{{ newer_post.title }}</a>
        {% endif %}
    </li>
</ul>