{% assign total_posts = site.posts | size %}

{% for current in site.posts %}
    {% if include.param.title == current.title %}
        {% assign older_post = forloop.index0 | plus: 1 %}
        {% assign newer_post = forloop.index0 | minus: 1 %}
    {% endif %}
{% endfor %}

<ul class="list-unstyled spacing row">
    <li class="col-xs-6">
        {% if older_post < total_posts %}
        <p class="text-uppercase"><small>Previous</small></p>
        <a href="{{ site.posts[older_post].url }}">{{ site.posts[older_post].title }}</a>
        {% endif %}
    </li>
    <li class="col-xs-6 text-right">
        {% if newer_post >= 0 %}
        <p class="text-uppercase"><small>Next</small></p>
        <a href="{{ site.posts[newer_post].url }}">{{ site.posts[newer_post].title }}</a>
        {% endif %}
    </li>
</ul>