<div class="btn-group btn-group-sm">
    <a class="btn btn-info" href="https://twitter.com/{{ site.author.twitter }}/" title="@{{ site.author.twitter }}"><i class="icon-2x icon-twitter"></i></a>
    <a class="btn btn-success" href="mailto:{{ site.author.email }}" title="{{ site.author.email }}"><i class="icon-2x icon-envelope-alt"></i></a>
    <a class="btn btn-default" href="https://github.com/{{ site.author.github }}/" title="GitHub"><i class="icon-2x icon-github"></i></a>
    <a class="btn btn-primary" href="http://www.linkedin.com/in/{{ site.author.linkedin }}/" title="LinkedIn"><i class="icon-2x icon-linkedin"></i></a>
</div>