        </div>
    </div>

    {% assign post = include.post %}

    {% if page.url == post.url %}
        {% assign isSinglePost = true %}
    {% else %}
        {% assign isSinglePost = false %}
    {% endif %}

    <footer>
        <hr/>
        {% if isSinglePost %}
            {% include widget/tag_cloud.html %}
            <hr/>
        {% endif %}

        {% unless paginator.page %}
            {% include widget/paginator.html post=post %}
        {% endunless %}

        {% if site.comments %}
            {% if post.comments %}
                {% unless isSinglePost %}
                    {% include widget/comments_count.html post=include.post %}
                {% endunless %}
                <hr/>
            {% endif %}
        {% endif %}
    </footer>

    {% if site.comments %}
        {% if post.comments %}
            {% if isSinglePost %}
            <section class="comments">
                {% include widget/comments.html post=include.post %}
            </section>
            {% endif %}
        {% endif %}
    {% endif %}

</article>
