</div>

{% assign post = include.post %}

{% if page.url == post.url %}
    {% assign isSinglePost = true %}
{% else %}
    {% assign isSinglePost = false %}
{% endif %}

{% if isSinglePost %}
    <hr/>
    {% include widget/tag_cloud.html %}
{% endif %}

{% if page.url != "/index.html" %}
    <hr/>
    {% include widget/paginator.html post=post %}
{% endif %}

{% if site.comments %}
    <hr/>
    {% if isSinglePost %}
        {% include widget/comments.html post=include.post %}
    {% else %}
        {% include widget/comments_count.html post=include.post %}
    {% endif %}
{% endif %}