<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | Sonny Huynh</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  &copy; 2013 {{ site.author.name }}<br />
                  <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
                  <a href="https://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
                  <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}/">linkedin.com/in/{{ site.author.linkedin }}</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.analytics.id }}']);
            _gaq.push(['_setDomainName', 'sonnyhuynh.com']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>
